* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, Sans-Serif
}


.btn {
  background: #E8E8E8;

  &:hover {
    background: #E0E0E0;
    border-color: #909090;
    transform: scale(1.05);
  }
}

.social-buttons li {
  margin-bottom: 5px;
}

.heading-spacer {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  max-width: 400px;
}

/* navigation */
.topnav {
  position: absolute;
  width: 100%;
  margin-bottom: 0;
  border-bottom: 2px solid #a8a8a8;
  font-family: "Lobster", Monospace, Helvetica, Sans-Serif;

  a:hover {
    color: #000;
    background: linear-gradient(to bottom, rgb(242,242,242) 0%,rgb(219,219,219) 38%,rgb(216,216,216) 63%,rgb(247,247,247) 100%);
  }
}

.topnav_brand {
  font-size: 28px;
}

/* Main */
.main {
  position: relative;
  height: 100vh;
  background: url(/assets/img/background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .scroll-arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 12px;
    font-size: 30px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: opacity .5s;

    &:hover {
      opacity: .5;
    }
  }
}

.main_head {
  text-align: center;
  font-family: "Lobster", Monospace, Helvetica, Sans-Serif;
}

.main_heading {
  color: #333;
  text-shadow: gray 0 0 1px;
}


/* About */
.about {
  padding: 50px 0;
  text-align: center;
  /* background:  url('http://file.mobilmusic.ru/e5/c9/1a/963974.jpg') center fixed;
  background-size: cover; */
  background: rgba(238,238,238,1);
  background: linear-gradient(to bottom, rgba(238,238,238,1) 0%, rgba(248,248,248,1) 100%);

  @media only screen and (max-width: 1023px) {
    padding-bottom: 50px;
  }
}

.about_photo {
  height: 80%;
  width: 80%;
}

/* Portfolio */
.portfolio {
  padding: 50px 0;
  background: rgba(248,248,248,1);
  background: linear-gradient(to bottom, rgba(248,248,248,1) 0%, rgba(238,238,238,1) 100%);

  @media only screen and (max-width: 1023px) {
    padding: 30px 0;
  }

  a {
    outline: none;
  }
}

.portfolio_img {
  height: 210px;
  margin-bottom: 20px;
  padding: 8px;
  background: #ffffff;
  border: 1px solid #d0d0d0;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  border-radius: 5px;
  transition: all 0.4s ease;

  &:hover {
    transform: scale(1.05);
    background: #ffffff;
    border: 1px solid #cccccc;
    text-decoration: none;
    text-shadow: none;
    box-shadow: 1em 1em 1em -0.5em rgba(0,0,6,0.5);
  }

  @media only screen and (max-width: 768px) {
    height: 80%;
    width: 80%;
  }
}

/* Contacts */
.contacts {
  color: #fff;
  padding: 50px 0;
  background: #337ab7;

  p {
    font-size: 15px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    transition: opacity .5s;

    &:hover {
      text-decoration: none;
      opacity: .6;
    }
  }
}

/* Footer */
footer {
  background: #f8f8f8;
  border-top: 2px solid #A8A8A8;
  padding: 5px 0;

  a {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;

    &:hover{
      text-decoration: none;
      color: rgb(0, 0, 83);
    }
  }
}